@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');/* Add Custom Font */

:root {
    /* ////////////
        Color Variables
    ////////////// */

    /* 01. Grayscale */
    --gray-50: #F8F9FA;
    --gray-100: #ECEFF1;
    --gray-200: #DBE1E5;
    --gray-300: #BEC6CC;
    --gray-400: #A0ABB2;
    --gray-500: #849099;
    --gray-600: #6B7780;
    --gray-700: #4D5C66;
    --gray-800: #31414C;
    --gray-900: #212B33;
    --brand-black: #101619;

    /* 02. Core - Purple */
    --purple: #6A3CE3;
    --purple-100: #ECE2FE;
    --purple-200: #CCB1FC;
    --purple-300: #AD89F6;
    --purple-400: #845AF2;
    --purple-500: #6A3CE3;
    --purple-600: #4E1DCD;
    --purple-700: #3B1EA3;
    --purple-800: #27146C;
    --purple-900: #170C41;

    /* 03. Secondary - Blue */
    --blue: #2185EC;
    --blue-100: #D7F0FE;
    --blue-200: #A6DDFD;
    --blue-300: #78C4F9;
    --blue-400: #56ABF3;
    --blue-500: #2185EC;
    --blue-600: #1065BC;
    --blue-700: #0C4C8D;
    --blue-800: #0D355E;
    --blue-900: #071B2F;

    /* 04a. Accent - Lime */
    --lime: #B5E33C;
    --lime-100: #F7FDD8;
    --lime-200: #EEFCB1;
    --lime-300: #DEF689;
    --lime-400: #CDEE6A;
    --lime-500: #B5E33C;
    --lime-600: #95C32B;
    --lime-700: #5A8212;
    --lime-800: #385509;
    --lime-900: #213205;

    /* 04b. Accent - Orange */
    --orange: #FC703A;
    --orange-100: #FEEDD7;
    --orange-200: #FED6B0;
    --orange-300: #FEB988;
    --orange-400: #FD9D6B;
    --orange-500: #FC703A;
    --orange-600: #D84E2A;
    --orange-700: #B5321D;
    --orange-800: #780B0B;
    --orange-900: #490707;

    /* 04c. Accent - Cyan */
    --cyan: #03CEA4;
    --cyan-100: #DDFDEA;
    --cyan-200: #AAFDD3;
    --cyan-300: #7FFAC7;
    --cyan-400: #62F0B7;
    --cyan-500: #03CEA4;
    --cyan-600: #029C89;
    --cyan-700: #14847F;
    --cyan-800: #015A57;
    --cyan-900: #013331;

    /* 05a. Semantic - Success Green */
    --green: #3CE36A;
    --green-100: #DCFDD8;
    --green-200: #B3FCB1;
    --green-300: #89F692;
    --green-400: #6AEE82;
    --green-500: #3CE36A;
    --green-600: #27AF5A;
    --green-700: #138352;
    --green-800: #0B6C4C;
    --green-900: #063C2A;

    /* 05b. Semantic - Alert Yellow */
    --yellow: #FFCD33;
    --yellow-100: #FFF9D6;
    --yellow-200: #FFF1AD;
    --yellow-300: #FFE784;
    --yellow-400: #FFDD66;
    --yellow-500: #FFCD33;
    --yellow-600: #C59921;
    --yellow-700: #936910;
    --yellow-800: #7A5309;
    --yellow-900: #4C3406;

    /* 05c. Semantic - Error Red */
    --red: #F4423F;
    --red-100: #FEE6D8;
    --red-200: #FDC7B2;
    --red-300: #FBA08B;
    --red-400: #F87C6E;
    --red-500: #F4423F;
    --red-600: #BC2933;
    --red-700: #8D1431;
    --red-800: #750C2E;
    --red-900: #45071B;

    /* ////////////
        Typography Variables
    ////////////// */

    /* 01. Font Family */
    --font-family: 'Inter', sans-serif;

    /* 02. Font Sizes */
    --font-size-base: 16px;
    --font-size-tiny: 0.65rem;
    --font-size-sm: 0.85rem;
    --font-size-sm-2: 0.95rem;
    --font-size-med: 1rem;
    --font-size-med-2: 1.2rem;
    --font-size-large: 1.4375rem;
    --font-size-large-2: 2rem;
    --font-size-xl: 2.4375rem;
    --font-size-xxl: 3.2rem;

    /* 03. Font Weights */
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 800;

    /* 04. Line Heights */
    --line-height-small: 0.9;
    --line-height-compact: 1;
    --line-height-medium: 1.2;
    --line-height-comfortable: 1.35;
    --line-height-large: 1.5;
    --line-height-large-2: 1.65;

    /* ////////////
        UI Variables
    ////////////// */

    /* 01. Focus */
    --focus-outline-color: 33, 133, 236;  /* Secondary Blue in rgba for focus color */
    --focus-boxshadow: 0 0 0 3px rgba(var(--focus-outline-color), 0.4); /* Default :focus styles */
    
    /* 02. Border radius */
    --border-radius: 2px;
    --border-radius-buttons: 4px;

    /* 03. Section Backgrounds */
    --section-background-color: var(--gray-50);

    /* 04. Inputs */
    --input-btn-focus-width: 2px !default;
    --input-btn-focus-color-opacity: .25 !default;
    --input-btn-focus-color: var(--purple-700) !default;
    --input-btn-focus-blur:  0 !default;
    --input-btn-focus-box-shadow: var(--focus-boxshadow) !default;
    --input-btn-padding: 12px 16px;
    --input-btn-background-color: var(--purple-500);
    --input-btn-background-color-hover: var(--purple-600);
    --input-btn-background-color-active: var(--purple-700);

    /* 05a. Buttons - Primary (Purple) */
    --btn-primary-focus-blur:  0 !default;
    --btn-primary-focus-box-shadow: var(--focus-boxshadow) !default;
    --btn-primary-padding: 12px 16px;
    --btn-primary-background-color: var(--purple-500);
    --btn-primary-background-color-hover: var(--purple-600);
    --btn-primary-background-color-active: var(--purple-700);

    /* 05b. Buttons - Secondary (Gray) */
    --btn-secondary-text-color: var(--brand-black) !default;
    --btn-secondary-border:  transparent !default;
    --btn-secondary-focus-box-shadow: var(--focus-boxshadow) !default;
    --btn-secondary-padding: 12px 16px;
    --btn-secondary-background-color: var(--gray-200);
    --btn-secondary-background-color-hover: var(--gray-300);
    --btn-secondary-background-color-active: var(--gray-400);

    /* 05c. Buttons - Tertiary (Outline) */
    --btn-outline-focus-blur: 0 !default;
    --btn-outline-border: 2px solid var(--purple) !default;
    --btn-outline-focus-box-shadow: var(--focus-boxshadow) !default;
    --btn-outline-padding: 12px 16px;
    --btn-outline-background-color: rgba(106, 60, 227, 0);
    --btn-outline-background-color-hover: rgba(106, 60, 227, .2);
    --btn-outline-background-color-active: rgba(106, 60, 227, .3);

    /* 06. Max-widths */
    --max-width-sm: 540px;
    --max-width-md: 720px;
    --max-width-lg: 960px;
    --max-width-xl: 1140px;
    --max-width-xxl: 1320px;

    /* ////////////
        Component Variables
    ////////////// */

    /* 01. Header */
    --header-link-color: var(--gray-800);
    --header-link-hover-color: var(--purple-500);
    --header-border: 1px solid var(--gray-300);
    --header-background-color: #FFFFFF;
    --header-boxshadow: 3px 0 10px rgb(0 0 0 / 20%);
    --header-login-text-color: #FFFFFF;
    --header-login-background-color: var(--purple-500);
    --header-login-background-hover-color: var(--purple-700);

    /* 02. Login */
    --login-page-background: url("https://6245015.fs1.hubspotusercontent-na1.net/hubfs/6245015/Administrate%20University%20and%20Learning%20Campus%20-%20Skilljar/administrate-sign-in-bkg_university.png");
    --login-form-background-color: #FFFFFF; 
    --login-form-title-color: var(--brand-black);
    --login-form-title-font-size: var(--font-size-xl);
    --login-form-text-color: var(--gray-800);
    --login-form-link-color: var(--blue-600);
    --login-form-link-hover-color: var(--blue-600);
    --login-form-link-active: var(--blue-600); 
    --login-button-text-color: #FFFFFF;
    --login-button-bg-color: var(--purple-500);
    --login-button-hover-bg-color: var(--purple-600);
    --login-button-active-bg-color: var(--purple-700);
    --login-button-text-color: #FFFFFF;
    
    /* 03. Lower Banner / CTA */
    --lower-background-color: #E1E9ED;
    --lower-banner-background-color: #FFFFFF;
    --lower-banner-text-color: #FFFFFF;
    --lower-button-background-color:  var(--purple-500);
    --lower-button-background-color-hover:  var(--purple-600);
    --lower-button-background-color-active:  var(--purple-700);
    --lower-button-text-color: #FFFFFF;

    /* 04. Copyright & Skilljar Footer */
    --ep-footer-background-color: var(--brand-black);
    --ep-footer-text-color: var(--gray-300);
    --ep-footer-border-color: var(--brand-black);
    
    /*  05. Big Footer */
    --footer-link-color: #FFFFFF;
    --footer-link-hover-color: rgba(256, 256, 256, 0.8);
    --footer-header-color: var(--gray-400);
    --footer-background-color: #FFFFFF;
    --footer-boxshadow: 3px 0 10px rgb(0 0 0 / 20%);

    /*  06. Home Hero */
    --hero-background-image: linear-gradient(180deg, var(--blue-100) 0%, #FFFFFF 100%) !important;
    --hero-background-color: #FFFFFF;
    --hero-title-font: var(--font-weight-semibold) var(--font-size-xl)/var(--line-height-compact) var(--font-family) !important;
    --hero-title-font-mobile: var(--font-weight-semibold) var(--font-size-large)/var(--line-height-compact) var(--font-family) !important;
    --hero-subtitle-font: var(--font-weight-light) var(--font-size-med-2)/var(--line-height-medium) var(--font-family) !important;
    --sb-max-width: var(--max-width-lg);
    --sb-header-font: var(--font-weight-semibold) var(--font-size-sm-2)/var(--line-height-compact) var(--font-family) !important;
    --sb-header-color: var(--brand-black);
    --sb-text-color: var(--gray-700);
    --sb-link-hover: var(--blue-600); 
    --sb-link-active: var(--blue-600);

    /*  07. Coursebox padding */
    --coursebox-text-padding: 0 16px;

/* ////////////
   Standardized Sizes for Mobile Responsive
////////////// */
    /* Mobile, Max width (max-width: 767px) */
    /* Mobile, Min width (min-width: 768px) */
    /* Tablet, Min width (min-width: 992px) */
    /* Tablet, Max width (max-width: 991px) */
    /* Medium Desktop, Max width (max-width: 1100px) */
    /* Desktop, Min width (min-width: 1200px) */
    /* Large Desktop, Min width (min-width: 1366px) */
    /* XLarge Desktop, Min width (min-width: 1600px) */
}

/* ///////////
   Base styles 
////////////// */
html, 
body {
    font: var(--font-weight-normal) var(--font-size-base)/var(--line-height-comfortable) var(--font-family);
}

i.fa-light,
i.fa-regular,
i.fa-solid,
i.fa-brands  {
    opacity: 0;
}

.fontawesome-i2svg-complete i.fa-light,
.fontawesome-i2svg-complete i.fa-regular,
.fontawesome-i2svg-complete i.fa-solid,
.fontawesome-i2svg-complete i.fa-brands {
    opacity: 1;
}

img[data-was-processed] {
    opacity: 0;
    transition: opacity 0.25s;
}

img[data-was-processed="true"] {
    opacity: 1;
}

input {
    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius);
}

input[type=checkbox] {
    border-color: var(--gray-700)!important;
}

input[type=checkbox]:hover {
    border-color: var(--blue-500)!important;
}

input[type='checkbox']:checked, 
input[type='checkbox']:disabled:active:checked {
    background-color: var(--purple-500);
}

input::placeholder {
    color: var(--gray-400);
}

button:not(.focus-after-v2):focus::before,
a.button:focus::before,
.focus-link-v2:focus::before,
.course-text-content a:focus::before,
#profile-course-table td > a:focus::before,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus,
input[type="text"].catalog-search-input:focus,
input[type="text"].sj-search-input:focus,
.focus-link-v2:focus::before,
a.coursebox-container:focus,
.filter-group-title:focus::before,
#ep-footer .language-pack-wrapper #languagePackSelect:focus,
select:focus,
#lp-footer .toggle-fullscreen:focus::before,
#header .header-dropdown-button:focus img,
.inline-collapsible-section__label:focus::before,
.alert-box a:focus::before,
#change-avatar-button #upload-new-avatar-button:focus::before,
.linear-scale-question__choice__label:focus-within {
    box-shadow: var(--input-btn-focus-box-shadow)!important;
    border: 1px solid rgb(var(--focus-outline-color));
}

.focus-link-v2::before,
.course-text-content a::before,
#profile-course-table td>a::before,
.filter-group-title::before,
.alert-box a::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
}

h1,
.lp-color-scheme-light #lp-wrapper #lesson-body h1,
.lp-color-scheme-light #lp-wrapper #lesson-body .h1-style
h2,
.lp-color-scheme-light #lp-wrapper #lesson-body h2,
.lp-color-scheme-light #lp-wrapper #lesson-body .h2-style
h3,  
.lp-color-scheme-light #lp-wrapper #lesson-body h3,
.lp-color-scheme-light #lp-wrapper #lesson-body .h3-style,
h4, 
.lp-color-scheme-light #lp-wrapper #lesson-body h4,
.lp-color-scheme-light #lp-wrapper #lesson-body .h4-style,
h5, 
.lp-color-scheme-light #lp-wrapper #lesson-body h5,
h6,
.lp-color-scheme-light #lp-wrapper #lesson-body h6 {
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-family);
    line-height: var(--line-height-compact);
    color: var(--brand-black);
}

#main-container:not(.lesson-page) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
}

#skilljar-content {
    flex: 1 1 auto;
    min-height: auto;
    margin-bottom: 0;
    max-width: 100%;
    overflow-x: none;
}

.no-catalog-filters .catalog-center-width {
    max-width: var(--max-width-lg);
}

.catalog-search-input-group:after, 
.sj-search-input-group:after {
    content: "ï€‚";
    color: var(--gray-500);
    top: 5px;
}

#header .header-logo-link,
#header .header-center-img.header-logo-svg {
    height: 25px !important;
}

#header .header-center-img.header-logo-svg[data-was-processed*="true"] {
    opacity: 1;
}
