/**
 * CONTENTS
 *
 * 01. Login Page...............................Login and Signup page styles.
 * 02. Lesson Page: "More" Component..........."More" Component at the bottom of lesson pages.
 *  
 */

/**
 * 01. Login
 *      Login and Signup page styles.
 */
.sj-page-login #skilljar-content.grey-bg.white-bg-v2, 
.sj-page-signup #skilljar-content.grey-bg.white-bg-v2 {
    background-image: url("./images/administrate-sign-in-bkg_university.png") !IMPORTANT;
}

/**
 * 02. Lesson Page: "More" Component
 *      "More" Component at the bottom of lesson pages.
 */
.sj-more-container {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    border-radius: var(--border-radius);
    color: #FFFFFF !IMPORTANT;
    margin-top: 32px;
    overflow: hidden;
    padding-top: 32px;
    position: relative;
    text-align: center;
}

#lp-wrapper #lesson-body.details-pane-bottom .sj-more-container:after {
    background: linear-gradient(180deg, var(--purple-500) 0%, var(--blue-700) 59%, var(--blue-900) 100%);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.sj-more-intro {
    margin-bottom: 24px;
}

.sj-more-heading {
    color: #FFFFFF;
    font-size: var(--font-size-large);
}

.sj-more-buttons {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.sj-more-button-container:not(:first-child) .sj-more-button {
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.2);
    border: var(--btn-secondary-border);
    color: var(--btn-secondary-text-color);
    margin-left: 16px;
}

.sj-more-button-container:not(:first-child) .sj-more-button:hover {
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.3);
    border: var(--btn-secondary-border);
    color: var(--btn-secondary-text-color);
}

.sj-more-button-container:not(:first-child) .sj-more-button:active {
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.4);
    border: var(--btn-secondary-border);
    color: var(--btn-secondary-text-color);
}
